@(
    helpForm: Form[models.util.IDWrapper],
    breadcrumbs: List[models.data.Link],
    inf: models.util.OperationResultInfo,
    id: Int
)

@import helper.form
@import helper.inputText
@import models.EMessages

@main(EMessages.get("classes.pupil.add"), breadcrumbs) {
@commons.info(inf)
@EMessages.get("classes.pupil.add.explanation")
@if(helpForm!=null){
    @form(controllers.classgroups.routes.ClassPupilController.saveExisting(id)){
        <fieldset>
            @inputText(helpForm("id"), '_label ->"id")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary"> or
            <a href="@controllers.classgroups.routes.ClassPupilController.viewClass(id)" class="btn">
                @EMessages.get("form.cancel")
            </a>
        </div>

        }
    }

}
