@(helpForm: Form[models.util.IDWrapper], breadcrumbs : List[models.data.Link],
 inf : models.util.OperationResultInfo, id : String )

@import helper._
@import helper.twitterBootstrap._
@import models.EMessages

@main(EMessages.get("classes.helpteacher.add"), breadcrumbs) {
@commons.info(inf)
@EMessages.get("classes.help.add.explanation")

@form(controllers.classgroups.routes.HelpTeacherController.save(id)){
	<fieldset>
		@inputText(helpForm("id"), '_label ->"id")
	</fieldset>

	<div class="actions">
        <input type="submit" value="Save" class="btn btn-primary"> or
        <a href="@controllers.classgroups.routes.HelpTeacherController.viewHelp(id)" class="btn">Cancel</a>
    </div>
    
    }
    
    }