@(
    classForm: Form[models.dbentities.ClassGroup],
    breadcrumbs : List[models.data.Link],
    inf: models.util.OperationResultInfo,
    gradeValues: java.util.Map[String,String]
)

@import helper.form
@import models.EMessages

@main(EMessages.get("classes.add"),breadcrumbs){
    @commons.info(inf)

    @form(controllers.classgroups.routes.ClassGroupController.save()) {

    @classgroupForm(classForm,gradeValues)

    <div class="actions">
        <input type="submit" value="Save" class="btn btn-primary">
        @EMessages.get("forms.or")
        <a href="@controllers.classgroups.routes.ClassGroupController.viewClasses()" class="btn">
            @EMessages.get("forms.cancel")
        </a>
    </div>
    }
}
