@(title: String, breadcrumbs : List[models.data.Link])
@import commons._
@import models.EMessages.get
@import helper._
@import helper.twitterBootstrap._

@main(title, breadcrumbs) {

@helper.form(action=controllers.user.routes.PersonalPageController.checkValid) {

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
        <h3>Welcome!</h3>
          <div class="bs-docs-example">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="personal">Personal information</a></li>
              <li><a href="personaledit">Edit information</a></li>
              <li class="active"><a href="#">@EMessages.get("edit_pwd.edit_pwd")</a></li>
            </ul>
          </div>
    </div>
    <div class="span10">
           <legend>@EMessages.get("edit_pwd.edit_pwd")</legend>
        <div class="control-group row-fluid">
            <label class="control-label span2">@EMessages.get("edit_pwd.current_pwd")</label>
            <div class="controls span10">
                <div class="input-prepend span12">
                    <span class="add-on"><i class="icon-lock"></i> </span> <input
                        type="Password" class="input-xlarge span11" id="current_pwd" name="current_pwd" required>
                </div>
            </div>
        </div>

        <div class="control-group row-fluid">
            <label class="control-label span2">@EMessages.get("edit_pwd.new_pwd")</label>
            <div class="controls span10">
                <div class="input-prepend span12">
                    <span class="add-on"><i class="icon-lock"></i> </span> <input
                        type="Password" id="new_password" class="input-xlarge span11"
                        name="new_password" required>
                </div>
            </div>
        </div>

        <div class="control-group row-fluid">
            <label class="control-label span2">@EMessages.get("edit_pwd.confirm_new_pwd")</label>
            <div class="controls span10">
                <div class="input-prepend span12">
                    <span class="add-on"><i class="icon-lock"></i> </span> <input
                        type="Password" id="controle_password" class="input-xlarge span11"
                        name="controle_password" required>
                </div>
            </div>
        </div>

        <div class="control-group row-fluid">
            <div class="span2">&nbsp;</div>
            <div class="controls span2">
                <button type="submit" class="btn btn-primary" name="btn" id="btn">@EMessages.get("edit_pwd.submit")</button>
            </div>
            <div class="span8">&nbsp;</div>
        </div>
    </div>
  </div>
</div>

}
}
