
@import models.EMessages

<legend>@EMessages.get("user.pip.aboutme")</legend>
@EMessages.get("user.pip.intro")
<br />
<br />
<address>
    <strong>@EMessages.get("user.pip.fulln")</strong>
    <br />
    @models.user.AuthenticationManager.getInstance().getUser().data.name
    <br />

    <strong>@EMessages.get("user.pip.gender")</strong>
    <br />
    @EMessages.get("user." + models.user.AuthenticationManager.getInstance().getUser().data.gender)
    <br />

    <strong>@EMessages.get("user.pip.birth")</strong>
    <br />
    @controllers.user.PersonalPageController.dateToString(models.user.AuthenticationManager.getInstance().getUser().data.birthdate)
    <br />

    <strong>@EMessages.get("user.pip.preflan")</strong>
    <br />
    @models.data.Language.getLanguage(models.user.AuthenticationManager.getInstance().getUser().data.preflanguage).getName()
    <br />

    <strong>@EMessages.get("user.pip.email")</strong>
    <br />
    <a href="mailto:#">@models.user.AuthenticationManager.getInstance().getUser().data.email</a>
</address>
