@(schoolForm: Form[models.dbentities.SchoolModel], breadcrumbs : List[models.data.Link],inf : models.util.OperationResultInfo)

@import helper.form
@import models.EMessages

@main(EMessages.get("schools.add"),breadcrumbs){
    @commons.info(inf)
    <div class="well">
        @EMessages.get("schools.add.info")
    </div>
    @if(schoolForm!=null){
        @form(controllers.schools.routes.SchoolController.save()) {

        @formSchool(schoolForm)

        <div class="actions">
            <input type="submit" value="@EMessages.get("forms.save")" class="btn primary">
            @EMessages.get("forms.or")
            <a href="@controllers.schools.routes.SchoolController.viewSchools()" class="btn">
                @EMessages.get("forms.cancel")
            </a>
        </div>
        }
    }
}
