@(id : Int, schoolForm: Form[models.dbentities.SchoolModel], breadcrumbs : List[models.data.Link],inf : models.util.OperationResultInfo)

@import helper._
@import helper.twitterBootstrap._
@import models.EMessages

@main(EMessages.get("schools.edit"),breadcrumbs){
	@commons.info(inf)
	
	@form(controllers.schools.routes.SchoolController.update(id)) {

    @formSchool(schoolForm)

    <div class="actions">
        <input type="submit" value="Save" class="btn primary"> or
        <a href="@controllers.schools.routes.SchoolController.viewSchools()" class="btn">Cancel</a>
    </div>
    }
}