@(schoolForm: Form[models.dbentities.SchoolModel])

@import helper.inputText
@import models.EMessages

<fieldset>

        @inputText(
            schoolForm("name"),
            '_label -> (EMessages.get("school.name")+":"),
            '_class -> "defaultFormElement",
            '_showConstraints -> false
        )
        @inputText(
            schoolForm("address"),
            '_label -> (EMessages.get("school.address")+":"),
            '_class -> "defaultFormElement",
            '_showConstraints -> false
        )

</fieldset>
