@(currentPage: Page[models.management.ManageableModel], manager: models.management.Manager[_], currentOrderBy: String,
    currentOrder: String, currentFilter: String , breadcrumbs : List[models.data.Link],  inf : models.util.OperationResultInfo)

@import views.html.management.list

@main(EMessages.get("schools.title"),breadcrumbs){
	@commons.info(inf)
	@if(flash.containsKey("success")) {
        <div class="alert alert-info">
            @EMessages.get("schools.add.success") @flash.get("success")
        </div>
    } 
	@EMessages.get("schools.listtext")<br><br>
	
	@* If currentPage is null, do not display the list *@

    @if(currentPage!=null){
       	@list(currentPage, manager, currentOrderBy, currentOrder, currentFilter)
    }
	
}