.DS_store
.DS_Store
srs.out
logs
project/project
project/target
target
tmp
.history
dist
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
.settings
.gitignore
*.pdf
*.log
*.aux
*.gz
*/.*
application/bin/*
application/doc/
application/conf/evolutions/
application/conf/messages.lnk
application/conf/messages
*.bbl
*.blg
*.toc
*.nav
*.out
*.snm