@(breadcrumbs : List[models.data.Link])

@import models.EMessages

@main("Question Editor", breadcrumbs) {
    <div class="hero-unit">
          <h1>Questions</h1>
          <p>@EMessages.get("question.editor.index.hero")</p>
          <p>
        <a class="btn btn-primary btn-large" href="@controllers.question.routes.QuestionEditorController.create("MULTIPLE_CHOICE")">
            @EMessages.get("question.editor.index.create.main", EMessages.get("question.type.MULTIPLE_CHOICE"))
        </a>
        <a class="btn btn-primary btn-large" href="@controllers.question.routes.QuestionEditorController.create("REGEX")">
            @EMessages.get("question.editor.index.create.main", EMessages.get("question.type.REGEX"))
        </a>
        <button id="importUpload" type="button" class="btn btn-large">
            @EMessages.get("question.editor.index.create.import")
        </button>
        <form class="hide" action="@controllers.question.routes.QuestionEditorController.importUpload()" enctype="multipart/form-data" method="post">
        	<input type="file" name="files[]" />
        </form>
        </p>
    </div>
    <script src="@routes.Assets.at("javascripts/questioneditorindex.js")" type="text/javascript"></script>
}
