@*******************************************
* Template for creating a new question set *
*                                          *
* author: Kevin Stobbelaar                 *
*******************************************@

@(qsForm: Form[models.dbentities.QuestionSetModel], contestid: String, breadcrumbs : List[models.data.Link])

@import helper._
@import helper.twitterBootstrap._
@import models.EMessages

@main(EMessages.get("question.questionset.create.title"), breadcrumbs){

<div class="row">

    <div class="span2"></div>
    <div class="span8">

        <h3> @EMessages.get("question.questionset.create.title") </h3>

        @if(qsForm.hasErrors) {
        <div class="alert">
            <p>@EMessages.get("forms.error")</p>
        </div>
        }

        @form(controllers.question.routes.QuestionSetController.save(contestid)) {

        <fieldset>

            <legend> @EMessages.get("question.questionset.create.step2") </legend>

            @inputText(qsForm("name"), '_label -> EMessages.get("question.questionset.create.name"), '_showConstraints -> false)

            @select(
                qsForm("level"),
                options = options(models.data.DataHandler.getGrades().toList.map(_.getName)),
                '_label -> EMessages.get("question.questionset.create.level"),
                '_showConstraints -> false
            )

            @checkbox(qsForm("active"), '_label -> None, '_text -> EMessages.get("question.questionset.create.active"), '_showConstraints -> false)

        </fieldset>

        <div class="actions">
            <input type="submit" value="@EMessages.get("forms.submit")" class="btn primary">
            <a href="@controllers.competition.routes.CompetitionController.index()" class="btn"> @EMessages.get("forms.cancel")</a>
        </div>
        }
    </div>

}