body{
	height:100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
	    margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.small-container {
    width: auto;
    max-width: 680px;
}

.container .credit {
    margin: 20px 0;
}

.well-small {
	padding:5px 0px 0px 0px;
}

/* Start of question editor styles */
.removelang {
  	position:relative;
   	top:5px;
   	float:right;
   	cursor:pointer;
}
.editor {
	height:400px;
}
#dropzone {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    font-size: larger;
}
#dropzone.hover {
    background: #FAFAFA;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
/* End of question editor styles */



/* Start of DMTV styles */
.defaultFormElement label {
	width:200px;
	float:left;
}

.defaultFormElement .input  .help-inline {
	color:red;
}

.filter-input {
	width:75%;
}
/* End of DMTV styles */