@(questionSetForm: Form[models.dbentities.QuestionSetModel], id: String)

@import helper._
@import helper.twitterBootstrap._

@form(controllers.question.questionset.routes.QuestionSetController.update(id)) {

    <fieldset>

        <legend>Question set basic info</legend>
        @inputText(questionSetForm("name"), '_label -> "New question set name", '_showConstraints -> false)

        @select(
            questionSetForm("level"),
            options = options(models.data.DataHandler.getGrades().toList.map(_.getName())),
            '_default -> "--- Choose a level ---",
            '_label -> "Level",
            '_error -> questionSetForm("level").error.map(_.withMessage("Please select a level"))
        )

        @checkbox(questionSetForm("active"), '_label -> None, '_text -> "Check to make this question set active.")

    </fieldset>

    <div class="actions">
        <input type="submit" value="Save changes" class="btn primary">
    </div>

}