@***************************************
*   Question set management page       *
*                                      *
*   author: Kevin Stobbelaar           *
***************************************@

@(selectedqsid: String, breadcrumbs : List[models.data.Link], currentPage: Page[models.management.Manageable],
    manager: models.management.Manager[_], currentOrderBy: String, currentOrder: String,
    currentFilter: String, questionSetForm: Form[models.dbentities.QuestionSetModel])

@import views.html.management.list

@main("Question set management", breadcrumbs){

    <div class="container-fluid">
        <div class="row-fluid">

            @*************************************
            * Overview of existing question sets *
            *************************************@
            <div class="span5">
                <h4>Overview</h4>
                <div>
                    @list(currentPage, manager, currentOrderBy, currentOrder, currentFilter)
                </div>
            </div>

            @*****************************************************
            * Information about the selected set in the overview *
            *****************************************************@
            <div class="span7">
                @if(selectedqsid == ""){
                    <h4> No question set selected! </h4>
                } else {
                    <h4> Edit selected question set. </h4>
                    <div>
                        @editQuestionSetForm(questionSetForm, selectedqsid)
                    </div>
                }
            </div>

        </div>
    </div>

}