@(message: String, breadcrumbs : List[models.data.Link])

@main(EMessages.get("app.home"), breadcrumbs) {
    <div class="hero-unit">
        <h1>@EMessages.get("app.startTitle")</h1>
        <p>
            Below, you can find the passwords of some users. You can make your
            own users, and upgrade them when you log in as an administrator. Ah
            yes, this temporary message is only avaible in one language. Deal
            with it.
        </p>
        <ul>
            <li>Admin: rnallaerts - rik1972nal</li>
            <li>Organizer: lprotut - lydia</li>
            <li>Teacher: gpallemans - guido</li>
            <li>Pupil: mdrets - michel</li>
            <li>Independent: Just register yourself</li>
        </ul>
	<ul>
	  <iframe src="http://player.vimeo.com/video/66664158" width="300" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
	  </iframe>

	</ul>
        <p><a href="http://avank.ugent.be/~rtaelman/">Team pagina</a></p>
        <p class="lead">@EMessages.get("competitions.take.landing"):</p>
        <p>
            <dl>
                @for(competition <- controllers.competition.TakeCompetitionController.anonymousSnippet()){
                    <dt>
                        <a href="@controllers.competition.routes.TakeCompetitionController.chooseGrade(competition.id)">
                            @competition.name
                        </a>
                    </dt>
                    <dd>
                        @competition.getTypeString()
                    </dd>
                }
            </dl>
            <a href="@controllers.competition.routes.TakeCompetitionController.list(0, "", "", "")" class="btn btn-primary btn-large">
                @EMessages.get("competitions.take.more")
            </a>
        </p>
    </div>
}
