@(title: String)(content: Html)
@import commons._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/responsive.min.css")" />
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="wrap">
            @navigation()
            <div class="container">
                @{header(title)}
                <div id="content">@content</div>
                <div id="push"></div>
            </div>
        </div>
        <div id="footer">
          <div class="container">
            @footer()
          </div>
        </div>
    </body>
</html>
