@(title: String, breadcrumbs : List[models.data.Link], form: Form[UserController.Register]) 
@import commons._ 
@import models.EMessages

<!DOCTYPE html>

<html>
<head>
<title>@EMessages.get("app.title", title)</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/responsive.min.css")" />
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
</head>
<body>
	<div id="wrap">
		@navigation()
		<div class="container">
			<div class="row">
				<div class="span8">
					@helper.form(routes.UserController.register){
					<form class="form-horizontal" id="registration" method="post" action="">
					<fieldset>
					<div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="username"
								name="username" rel="popover" data-content="Enter your name"
								data-original-title="Full name" />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">Email</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="email"
								name="email" rel="popover" data-content="Enter your email"
							data-original-title="Email">
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">Password</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="password"
								name="password" rel="popover" data-content="Enter password"
								data-original-title="Password" />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label"></label>
						<div class="controls">
						<button type="submit" class="btn btn-success">Create my account</button>
						</div>
					</div>
					</fieldset>
					</form>
					
					}
				</div>
			</div>
		</div>
	</div>
</body>
</html>