@(title: String, breadcrumbs : List[models.data.Link], sform: Form[UserController.Register]) 
@import commons._ 
@import models.EMessages 
@import helper._ 
@import helper.twitterBootstrap._

@main("Register", breadcrumbs) {

@helper.form(routes.UserController.register, 'id -> "signup"){
<legend>Sign Up</legend>
<!--FIRST BLOCK -->
<div class="control-group row-fluid">
	<label class="control-label span2">@EMessage("register.firstname")</label>
	<div class="controls span10">
		<div class="input-prepend inline span12">
			<span class="add-on"><i class="icon-user"></i> </span> <input
				type="text" class="input-xlarge span11" id="fname" name="fname"
				placeholder="First Name">
		</div>
	</div>
</div>

<!--SECOND BLOCK -->
<div class="control-group row-fluid">
	<label class="control-label span2">@EMessage("register.lastname")</label>
	<div class="controls span10">
		<div class="input-prepend span12">
			<span class="add-on"><i class="icon-user"></i> </span> <input
				type="text" class="input-xlarge span11" id="lname" name="lname"
				placeholder="Last Name">
		</div>
	</div>
</div>

<!--THIRD BLOCK -->
<div class="control-group row-fluid">
	<label class="control-label span2">@EMessage("register.email")</label>
	<div class="controls span10">
		<div class="input-prepend span12">
			<span class="add-on"><i class="icon-envelope"></i> </span> <input
				type="text" class="input-xlarge span11" id="email" name="email"
				placeholder="Email">
		</div>
	</div>
</div>


<!-- FOURTH BLOCK -->
<div class="control-group row-fluid">
	<label class="control-label span2">@EMessage("register.bday")</label>
	<div class="controls span10">
		<div class="input-prepend span12">
			<span class="add-on"><i class="icon-user"></i> </span> <input
				type="text" class="input-xlarge span11" id="bday" name="bday"
				placeholder="Birthday">
		</div>
	</div>
</div>

<!-- FIFTH BLOCK -->
<div class="control-group row-fluid">
	<label class="control-label span2">@EMessage("register.gender")</label>
	<div class="controls span10">
		<select name="gender" id="gender" class="span11"> @for(gender <- models.user.Gender.values().toList) {
			<option value="@gender.toString()">
			@gender.toString()
			</option> 
			}
		</select>
	</div>
</div>

<!-- SIXTH BLLOCK -->
<div class="control-group row-fluid">
	<label class="control-label span2">@EMessage("register.preflan")</label>
	<div class="controls span10">

		<select name="prefLanguage" id="prefLanguage" class="span11">
			@for(language <- models.data.Language.listLanguages().toList) {
			<option value="@language.getCode()">
			@language.getName()
			</option> 
			}
		</select>
	</div>
</div>

<!-- SEVENTH BLOCK -->
<div class="control-group row-fluid">
	<label class="control-label span2">@EMessage("register.password")</label>
	<div class="controls span10">
		<div class="input-prepend span12">
			<span class="add-on"><i class="icon-lock"></i> </span> <input
				type="Password" id="reg_passwd" class="input-xlarge span11"
				name="password" placeholder="Password">
		</div>
	</div>
</div>

<!-- EIGHTH BLOCK -->
<div class="control-group row-fluid">
	<label class="control-label span2">@EMessage("register.confirm_password")</label>
	<div class="controls span10">
		<div class="input-prepend span12">
			<span class="add-on"><i class="icon-lock"></i> </span> <input
				type="Password" id="controle_passwd" class="input-xlarge span11"
				name="controle_passwd" placeholder="Re-enter Password">
		</div>
	</div>
</div>

<!-- NINTH BLOCK -->
<div class="control-group row-fluid">
	<div class="span2">&nbsp;</div>
	<div class="controls span2">
		<button type="submit" class="btn btn-success" name="btn" id="btn">@EMessage("register.create_account")</button>
	</div>
	<div class="span8">&nbsp;</div>
</div>
}
<script src="@routes.Assets.at("javascripts/registration/jquery-ui.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/registration/validate.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/registration/jquery.validate.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/registration/datepicker.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/registration/pbkdf2.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/registration/sha256.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/registration/password_strengthening.js")" type="text/javascript"></script>
}
