@(serverForm: Form[models.question.Server])

@import helper._
@import helper.twitterBootstrap._

@main("Add new server") {

@form(controllers.question.routes.ServerController.save()) {

    <fieldset>

        @inputText(serverForm("name"), '_label -> "New server's name")
        @inputText(serverForm("path"), '_label -> "New server's path")
        @inputText(serverForm("baseUrl"), '_label -> "New server's baseUrl")


    </fieldset>

    <div class="actions">
        <input type="submit" value="Save" class="btn primary"> or
        <a href="@controllers.question.routes.ServerController.list()" class="btn">Cancel</a>
    </div>

}

}