@***************************************
*   Question management page           *
*                                      *
*   author: Ruben Taelman              *
***************************************@

@(currentPage: Page[models.management.Manageable], manager: models.management.Manager[_], currentOrderBy: String,
    currentOrder: String, currentFilter: String, breadcrumbs : List[models.data.Link])

@import views.html.management.list

@main("List of servers", breadcrumbs){
    <h2>List of questions</h2>
    @list(currentPage, manager, currentOrderBy, currentOrder, currentFilter)

}