@(title: String, breadcrumbs : List[models.data.Link], mimicForm : Form[controllers.UserController.MimicForm])

@import helper.inputText
@import models.EMessages
@import views.html.commons.showflash

@main(title, breadcrumbs){
<div id="mimic_alert" class="alert hide"></div>
<fieldset>
    @inputText(
        mimicForm("bebrasID"),
        '_label -> (EMessages.get("login.bebras_ID")+":"),
        '_class -> "defaultFormElement",
        '_showConstraints -> false
    )
</fieldset>
<div class="actions">
    <input type="submit" value="@EMessages.get("otheruser.mimic")" class=" btn btn-primary" id="mimic" />
</div>
<p />
}

<script type="text/javascript">
$("#mimic").live("click",function(){
    var request = $.ajax({
        type: 'POST',
        url: '/mimic',
        data: {"id": $("#bebrasID").val()}
    });

    request.done(function(data){
        window.location.href = "/";
        });

    request.fail(function(jqXHR, data){
        $("#mimic_alert").show('fast').attr("class","alert alert-error").text(jqXHR.responseText + ".");
    });
});
</script>
