@(title: String, breadcrumbs : List[models.data.Link], mimicForm : Form[controllers.UserController.MimicForm])
@import helper._
@import helper.twitterBootstrap._
@import models.EMessages
@import views.html.commons.showflash

@main(title, breadcrumbs){
<div id="mimic_alert" class="alert hide">
</div>
<fieldset>
    @inputText(mimicForm("bebrasID"), '_label -> "bebras ID:")
</fieldset>
<div class="actions">
    <input type="submit" value="Mimic" class=" btn btn-primary" id="mimic">
</div>
}

<script type="text/javascript">
$("#mimic").live("click",function(){
    var request = $.ajax({
        type: 'POST',
        url: '/mimic',
        data: {"id": $("#bebrasID").val()}
    });

    request.done(function(data){
        document.cookie="@models.user.AuthenticationManager.COOKIENAME" + "=" + data + ";expires=1000";
        window.location = "/";
        });

    request.fail(function(jqXHR, data){
        $("#mimic_alert").show('fast').attr("class","alert alert-error").text(jqXHR.responseText + ".");
    });
});
</script>