@(
    contactForm: Form[controllers.contactform.ContactFormController.ContactForm],
    breadcrumbs : List[models.data.Link]
)

@import helper.form
@import helper.inputText
@import helper.textarea
@import models.EMessages

@main(EMessages.get("contact.formtitle"), breadcrumbs) {
@commons.showflash()
@form(controllers.contactform.routes.ContactFormController.saveContactForm()) {

    <fieldset>

        @inputText(contactForm("email"), '_label -> EMessages.get("contact.email"))
        @textarea(
            contactForm("question"),
            '_label -> EMessages.get("contact.question"),
            'rows -> 10, 'cols -> 170, 'class->"input-xxlarge"
        )

    </fieldset>

    <div class="actions">
        <input type="submit" value="@EMessages.get("forms.save")" class="btn btn-primary" />
        @EMessages.get("forms.or")
        <a href="@controllers.routes.UserController.landingPage()" class="btn">
            @EMessages.get("forms.cancel")
        </a>
    </div>

}

}
