@(breadcrumbs : List[models.data.Link])

@import helper._
@import helper.twitterBootstrap._
@import models.EMessages

@main(EMessages.get("contact.upgraderequest"), breadcrumbs){
@commons.showflash()
<div class="well">
@EMessages.get("contact.requestupgrade.explanation")
</div>

		@form(action = controllers.contactform.routes.RequestTeacherController.upload(), 'enctype -> "multipart/form-data") {    
    		<input type="file" name="card">    
    		<p>
    			<input type="submit">
    		</p>    
		}

}