@***************************************
*   FAQ management page             *
*                                      *
*   author: Kevin Stobbelaar           *
*	adapted for FAQ by Jens N. Rammant *
***************************************@

@(currentPage: Page[models.management.Manageable], manager: models.management.Manager[_], currentOrderBy: String,
    currentOrder: String, currentFilter: String, breadcrumbs : List[models.data.Link],
    inf : models.util.OperationResultInfo)

@import views.html.management.list

@main(EMessages.get("faq.list"), breadcrumbs){
@commons.info(inf)
    <div class="row">
        <div class="span8">
            <h2> @EMessages.get("faq.list") </h2>
            
            @* If currentPage is null, do not display the list *@
            
            @if(currentPage!=null){
            @list(currentPage, manager, currentOrderBy, currentOrder, currentFilter)
            }
        </div>
    </div>

}