@(faqForm: Form[models.dbentities.FAQModel], breadcrumbs : List[models.data.Link], langValues : java.util.Map[String, String],
 inf : models.util.OperationResultInfo)

@import helper.form
@import helper.inputText
@import helper.textarea
@import helper.select
@import helper.options
@import models.EMessages

@main(EMessages.get("faq.addfaq"), breadcrumbs) {
@commons.info(inf)
@form(controllers.faq.routes.FAQController.save()) {

    <fieldset>

        @inputText(
            faqForm("name"),
            '_label -> (EMessages.get("faq.new.title")+":"),
            'class -> "defaultFormElement",
             '_showConstraints -> false
        )
        @textarea(
            faqForm("content"),
            '_label -> (EMessages.get("faq.new.content")+":"),
            'rows -> 10,
            'cols -> 170,
            'class -> "defaultFormElement input-xxlarge",
             '_showConstraints -> false
        )
        @select(
            field = faqForm("language"),
            options = options(langValues),
            '_label -> (EMessages.get("faq.new.language")+":"),
            '_class -> "defaultFormElement",
             '_showConstraints -> false
        )

    </fieldset>

    <div class="actions">
        <input type="submit" value="@EMessages.get("forms.save")" class="btn btn-primary">
        <a href="@controllers.faq.routes.FAQController.list()" class="btn">
            @EMessages.get("forms.cancel")
        </a>
    </div>

}

}
