@(faqForm: Form[models.dbentities.FAQModel], breadcrumbs : List[models.data.Link], langValues : java.util.Map[String, String])

@import helper._
@import helper.twitterBootstrap._
@import models.EMessages

@main("Add new FAQ", breadcrumbs) {

@form(controllers.faq.routes.FAQController.save()) {

    <fieldset>

        @inputText(faqForm("name"), '_label -> EMessages.get("faq.new.title"))
        @inputText(faqForm("content"), '_label -> EMessages.get("faq.new.content"))
        @select(field = faqForm("language"), options = options(langValues)
        ,'_label -> EMessages.get("faq.new.language"))
      


    </fieldset>

    <div class="actions">
        <input type="submit" value="Save" class="btn primary"> or
        <a href="@controllers.faq.routes.FAQController.list()" class="btn">Cancel</a>
    </div>

}

}