@(
    manager:        models.data.manager.DataManager[_ <: models.data.manager.DataElement],
    factory:        models.data.manager.DataFactory[_ <: models.data.manager.DataElement],
    breadcrumbs:    List[models.data.Link]
)

@import models.EMessages

@main(manager.title(), breadcrumbs) {
<table class="table table-striped table-hover">
    <thead>
        <tr>
            @for(title <- manager.columns()) { <!---->
            <th>@title</th>
            }
        </tr>
    </thead>
    <tbody>
        @for(element <- manager.list()) { <!-- each row -->
        <tr>
            @for(field <- element.strings()) { <!-- each column -->
            <td>@field</td>
            }
            <td>
                <a class="btn btn-small" href="/manage/@manager.url()/remove?id=@element.id()">@EMessages.get("forms.delete")</a>
            </td>
        </tr>
        }
        <tr>
            <form method="get" action="/manage/@manager.url()/add">
                @for(i <- 0 to factory.stringsExpected() - 1) { <!-- each input field -->
                <td><input type="text" name="fields[@i]" /></td>
                }
                <td><input type="submit" class="btn btn-small"
                    value="@EMessages.get("forms.add")" /></td>
            </form>
        </tr>
    </tbody>
</table>
}
