@(modelForm: Form[_ <: models.management.ManageableModel], manager: models.management.Manager[_], breadcrumbs : List[models.data.Link])(content: Html)

@import helper.form
@import models.EMessages

@main(EMessages.get(manager.getMessagesPrefix() + ".title.edit"), breadcrumbs) {

    @form(manager.getUpdateRoute()) {

        @defaultForm(modelForm, manager)

        <div class="actions">
            <input type="submit" value="@EMessages.get("forms.update")" class="btn btn-primary">
            <a href="@manager.getListRoute()" class="btn">@EMessages.get("forms.cancel")</a>
        </div>

    }

    @content

}
