@(modelForm: Form[_ <: models.management.ManageableModel], manager: models.management.Manager[_])

@import helper._
@import helper.twitterBootstrap._
@import models.EMessages
@import models.management.FieldType
@import views.html.commons.showflash

@***************************************
* Flash messages *
***************************************@
@showflash()

	@if(!manager.isIgnoreErrors() && modelForm.hasErrors()) {
		<div class="alert alert-error">
			<strong>Error</strong> There seem to be some issues with the following fields:
			<ul>
			@for((k, v) <- modelForm.errors()) {
				<li>@EMessages.get(manager.getMessagesPrefix() + ".form." + k)</li>
			}
			</ul>
		</div>
	}

    <fieldset>
		
        @for(field <- manager.getFieldNames()) {
            @if(!field.charAt(0).equals('_')) { @* don't show hidden fields *@
                @if(!manager.isFieldDisabled(field)) {
                    @defining(manager.getFields().get(field)) { fType =>
                        @fType match {
                            case FieldType.TEXT => {
                                @inputText(
                                    modelForm(field),
                                    '_label -> (EMessages.get(manager.getMessagesPrefix() + ".form." + field)+":"),
                                    '_class -> "defaultFormElement",
                                    '_showConstraints -> false
                                )
                            }
                            case FieldType.CHECKBOX => {
                                @checkbox(
                                    modelForm(field),
                                    '_label -> (EMessages.get(manager.getMessagesPrefix() + ".form." + field)+":"),
                                    '_class -> "defaultFormElement",
                                    '_showConstraints -> false
                                )
                            }
                            case FieldType.LIST => {
                                @select(
                                    modelForm(field+".id"),
                                    options(manager.getDummyField(field).asInstanceOf[models.management.Listable].options()),
                                    '_id -> field,
                                    '_label -> (EMessages.get(manager.getMessagesPrefix() + ".form." + field)+":"),
                                    '_class -> "defaultFormElement",
                                    '_showConstraints -> false
                                )
                            }
                            case FieldType.DATE => {
                                    @inputText(
                                        modelForm(field),
                                        '_label -> (EMessages.get(manager.getMessagesPrefix() + ".form." + field)+":"),
                                        '_class -> "defaultFormElement",
                                        '_showConstraints -> false,
                                        '_id -> "datepick"
                                    )       
                            }
                        }
                    }
                } else {
                    <input type="hidden" name="@modelForm(field).name" value="@modelForm(field).value" />
                }
            }
        }
	
    </fieldset>


	<script type="text/javascript">
		$("#registrationdate").datepicker(format: 'dd/mm/yyyy');
		$("#birthdate").datepicker(format: 'dd/mm/yyyy');
		$("#blockeduntil").datepicker(format: 'dd/mm/yyyy');
	</script>
    