@***********************************************************
*  Abstract view for every list shown in the application.  *
*                                                          *
*  author: Kevin Stobbelaar                                *
*                                                          *
***********************************************************@

@(currentPage: Page[models.management.ManageableModel], manager: models.management.Manager[_], currentOrderBy: String,
    currentOrder: String, currentFilter: String)

@import models.EMessages

@*****************************************
* Helper generating the navigation links *
*****************************************@
@link(newPage: Int, newOrderBy: String) = @{

    var orderBy = currentOrderBy
    var order = currentOrder

    if(newOrderBy != null) {
        orderBy = newOrderBy
        if(currentOrderBy == newOrderBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    manager.getListRoute(newPage, orderBy, order, currentFilter)
}

@***************************************
* Helper generating the column headers *
***************************************@
@header(key: String, title: String) = {
    <th class="@key.replace(".","_") header @if(currentOrderBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@***********************
* The list view itself *
***********************@

<div id="actions">

    @***********************
    * Filtering            *
    ***********************@
    <form action="@link(0,"name")" method="GET">
        <input type="text" class="input-medium search-query" name="f" value="@currentFilter" placeholder="@EMessages.get("management.filter.input")">
        <input type="submit" id="searchsubmit" value="@EMessages.get("management.filter.button")" class="btn">
    </form>

    @***********************
    * Add new item         *
    ***********************@
    <p>
        <a class="btn" href="@manager.getAddRoute()"> @EMessages.get("management.add") </a>
    </p>

</div>

@***********************
* The actual list      *
***********************@
@if(currentPage.getTotalRowCount == 0){
    <div>
        <p> @EMessages.get("management.empty") </p>
    </div>
} else {
    <table class="table table-striped table-bordered table-hover table-condensed">

        <thead>
            <tr>
                @for(headerName <- manager.getColumnHeaders){
                    @header(headerName, headerName)
                }
            </tr>
        </thead>

        <tbody>

            @for(item <- currentPage.getList){
                <tr>
                @for(fieldValue <- item.getFieldValues){
                    <td>
                        @fieldValue
                        <a class="button succes" id="edit" href="@manager.getEditRoute(item.getID())">
                            <i class="icon-edit"></i>
                        </a>
                        <a class="button succes" id="remove" href="@manager.getRemoveRoute(item.getID())">
                            <i class="icon-remove"></i>
                        </a>
                    </td>
                }
                </tr>
            }

        </tbody>

    </table>

    @***********************
    * Pagination           *
    ***********************@
    @pagination(currentPage, currentOrderBy, currentOrder, currentFilter, manager)
}
