@****************************
* Pagination functionallity *
*                           *
* author: Kevin Stobbelaar  *
*                           *
****************************@
@(currentPage: Page[_], orderBy: String, order: String, currentFilter: String, manager: models.management.Manager[_])
    <div id="pagination" class="pagination pagination-centered pagination-small">
        <ul>
            @if(currentPage.hasPrev) {
            <li class="prev">
                <a href="@manager.getListRoute(currentPage.getPageIndex - 1, currentFilter)">&larr;</a>
            </li>
            } else {
            <li class="prev disabled">
                <a>&larr;</a>
            </li>
            }
            <li class="current">
                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
            </li>
            @if(currentPage.hasNext) {
            <li class="next">
                <a href="@manager.getListRoute(currentPage.getPageIndex + 1, currentFilter)">&rarr;</a>
            </li>
            } else {
            <li class="next disabled">
                <a>&rarr;</a>
            </li>
            }
        </ul>
    </div>