@import play.api.Play
@import models.EMessages
@import helper._
@import controllers.UserController.Register

<div id="navigation" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href='@routes.Application.index'>@Play.current.configuration.getString("application.name")</a>
            <ul class="nav">
            	<li class="divider-vertical"></li>
                @for(link <- models.data.DataHandler.getLinks()) {
                <li><a href='@(link.getUrl())'>@(link.getName())</a></li>
                <li class="divider-vertical"></li>
                }
            </ul>
            <ul class="nav pull-right">
            	<li class="divider-vertical"></li>
            	<li class="dropdown"><a class="dropdown-toggle" href="#"
                    data-toggle="dropdown">@EMessages.get("app.changeLanguage") <strong class="caret"></strong>
                	</a>
                	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    	@for(language <- models.data.Language.listLanguages()) {
                            <li><a href="@routes.Application.changeLanguage(language.getCode)">@language.getName(language)</a></li>
                        }
                    </ul>
               	</li>
                
                @if(models.user.AuthenticationManager.getInstance().isLoggedIn()) {
                <li class="divider-vertical"></li>
                <li class="dropdown"><a class="dropdown-toggle" href="#"
                    data-toggle="dropdown">@EMessages.get("app.signedInAs") <i>@models.user.AuthenticationManager.getInstance().getOriginalUser().getID()</i> <strong class="icon-cog"></strong><strong class="caret"></strong>
                    </a>
                @if(models.user.AuthenticationManager.getInstance().getUser().isMimicking()){
                    <li class="dropdown"><a class="dropdown-toggle" href="#"
                    data-toggle="dropdown">@EMessages.get("app.mimic") <i>: @models.user.AuthenticationManager.getInstance().getUser().getID() </i> <strong class="icon-cog"></strong><strong class="caret"></strong>
                    </a>
                    }
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" href="@routes.UserController.landingPage">@EMessages.get("app.home")</a></li>
                        <li class="divider"></li>
                          <li><a tabindex="0" href="@controllers.user.routes.PersonalPageController.show(0)">@EMessages.get("user.pip.settings")</a></li>
                          <li><a tabindex="1" href="@routes.UserController.logout">@EMessages.get("app.signOut")</a></li>
                    </ul>
                } else {                
                <li class="divider-vertical"></li>
                <li><a href='@routes.UserController.signup'>@EMessages.get("app.signUp")</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown"><a class="dropdown-toggle" href="#"
                    data-toggle="dropdown">@EMessages.get("app.signIn") <strong class="caret"></strong>
                </a>
                    <div class="dropdown-menu"
                        style="padding: 15px; padding-bottom: 0px;">
                        <div>
                            <div id="login_alert" class="alert hide"></div>
                            <form id="login" method="GET" action="">
	                            <div class="control-group">
	                                <div class="controls">
	                                    <div class="input-prepend">
	                                        <span class="add-on"><i class="icon-user"></i> </span> <input
	                                            type="text" class="input-xlarge" id="login_id"
	                                            name="id" placeholder="@EMessages.get("login.bebras_ID")">
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="control-group">
	                                <div class="controls">
	                                    <div class="input-prepend">
	                                        <span class="add-on"><i class="icon-lock"></i> </span> <input
	                                            type="password" class="input-xlarge" id="login_password"
	                                            name="pw" placeholder="@EMessages.get("register.password")">
	                                    </div>
	                                </div>
	                            </div>
	
	                            <div class="control-group">
	                                <label class="control-label"></label>
	                                <div class="controls">
	                                    <button type="submit" class="btn btn-primary" name="btn"
	                                        id="login_btn">@EMessages.get("app.signIn")</button>
	                                    <a href='@controllers.user.routes.ResetPasswordController.forgotPwd'><button type="button" class="btn btn-link" name="forgot_btn"
                                        id="forgot_btn">@models.EMessages.get("forgot_pwd.forgot_pwd")</button></a>
                                    </div>
	                            </div>
                            </form>
                        </div>
                    </div>
               	</li>
                }
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#login_btn").live("click",function(){
    $("#login_btn").attr("disabled", "disabled");
    var password = $("#login_password").val();
    //alert(password);
	var salt = CryptoJS.SHA256(password); // eventueel kunnen hier later ook al onze bebras id bepalen en als salt gebruiken voor de hash.
	var PBKDF2_password = CryptoJS.PBKDF2(password,salt,{ keySize: 4, iterations: 10});
	//alert(PBKDF2_password);
	
	$("#login_password").val(PBKDF2_password);

    var request = $.ajax({
        type: "GET",
        url: "/login_validate",
        data: {"id": $("#login_id").val(),"password":$("#login_password").val()}
        });

    request.done(function(msg) {
        document.cookie="@models.user.AuthenticationManager.COOKIENAME" + "=" + msg + ";expires=1000";
        window.location = "/";
    });

    request.fail(function(jqXHR, textStatus) {
        $("#login_alert").show('fast').attr("class", "alert alert-error").text(jqXHR.responseText);
        window.setTimeout(function() { $("#login_alert").hide('fast'); }, 5000);
    });

    request.always(function(jqXHR, textStatus, errorThrown) {
        $("#login_btn").removeAttr("disabled");
    });

    return false;
});
</script>
