@import models.EMessages
@import helper._
@import controllers.UserController.Register
<div id="navigation" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href='@routes.Application.index'>Bebras</a>
            <ul class="nav">
                @for(link <- models.data.DataHandler.getLinks()) {
                <li><a href='@(link.getUrl())'>@(link.getName())</a>
                </li> 
                }
            </ul>
			<ul class="nav pull-right">
				@if(models.user.AuthenticationManager.getInstance().isLoggedIn()) {
					<li><a href='@routes.UserController.logout'>Sign Out</a></li>
				} else {
				<li><a href='@routes.UserController.signup'>Sign Up</a></li>
				<li class="divider-vertical"></li>
				<li class="dropdown"><a class="dropdown-toggle" href="#"
					data-toggle="dropdown">Sign In <strong class="caret"></strong>
				</a>
					<div class="dropdown-menu"
						style="padding: 15px; padding-bottom: 0px;">
						<div>
							<div id="login_alert" class="alert hide"></div>
							<form id="login" method="GET" action="">
							<div class="control-group">
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on"><i class="icon-user"></i> </span> <input
											type="text" class="input-xlarge" id="login_id"
											name="id" placeholder="Bebras ID">
									</div>
								</div>
							</div>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-lock"></i> </span> <input
                                            type="password" class="input-xlarge" id="login_password"
                                            name="pw" placeholder="Password">
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary" name="btn"
                                        id="login_btn">Login</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                }
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#login_btn").live("click",function(){
	$("#login_btn").attr("disabled", "disabled");
	
	var request = $.ajax({
		type: "GET",
		url: "/login_validate",
		data: {"id": $("#login_id").val(),"password":$("#login_password").val()}
		});
	
	request.done(function(msg) {
		document.cookie="@models.user.AuthenticationManager.COOKIENAME" + "=" + msg + ";expires=1000";
		window.location = "/home";
	});
	
	request.fail(function(jqXHR, textStatus) {
		$("#login_alert").show('fast').attr("class", "alert alert-error").text(jqXHR.responseText);
		window.setTimeout(function() { $("#login_alert").hide('fast'); }, 5000);
	});
	
	request.always(function(jqXHR, textStatus, errorThrown) {
		$("#login_btn").removeAttr("disabled");
	});
	
	return false;
});
</script>
