@import models.EMessages
@import helper._
@import controllers.UserController.Register
<div id="navigation" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href='@routes.Application.index'>Bebras</a>
            <ul class="nav">
                @for(link <- models.data.DataHandler.getLinks()) {
                <li><a href='@(link.getUrl())'>@(link.getName())</a>
                </li> 
                }
            </ul>
			<ul class="nav pull-right">
				<li><a href='@routes.UserController.signup'>Sign Up</a></li>
				<li class="divider-vertical"></li>
				<li class="dropdown"><a class="dropdown-toggle" href="#"
					data-toggle="dropdown">Sign In <strong class="caret"></strong>
				</a>
					<div class="dropdown-menu"
						style="padding: 15px; padding-bottom: 0px;">
						<div>
							<form id="login" method="GET" action="">
							<div class="control-group">
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on"><i class="icon-user"></i> </span> <input
											type="text" class="input-xlarge" id="id"
											name="id" placeholder="Bebras ID">
									</div>
								</div>
							</div>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-lock"></i> </span> <input
                                            type="password" class="input-xlarge" id="pw"
                                            name="pw" placeholder="Password">
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <button type="submit" class="btn btn-success" name="btn"
                                        id="btn">Login</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#btn").live("click",function(){
	var r = $.ajax({
		type: "GET",
		url: "/login_validate",
		data: {"id": $("#id").val(),"pw":$("#pw").val()}
		}).done(function( response) {
			document.open();
			document.write(response);
			document.close();
		});
	return false;
});
</script>
