@if(flash.containsKey("success")) {
     <div class="alert alert-success">
         <strong>@EMessages.get("info.succes")!</strong> @flash.get("success")
     </div>
}

@if(flash.containsKey("error")) {
     <div class="alert alert-error">
         <strong>@EMessages.get("info.error")!</strong> @flash.get("error")
     </div>
}

@if(flash.containsKey("warning")) {
     <div class="alert alert-warning">
         <strong>@EMessages.get("info.warning")!</strong> @flash.get("warning")
     </div>
}

@if(flash.containsKey("info")) {
     <div class="alert alert-info">
         <strong>@EMessages.get("info.info")!</strong> @flash.get("info")
     </div>
}
