@*******************************************
* Template for creating a new contest      *
*                                          *
* author: Kevin Stobbelaar                 *
*******************************************@

@(contestForm: Form[models.dbentities.CompetitionModel], breadcrumbs : List[models.data.Link], showErrors: Boolean)

@import helper._
@import helper.twitterBootstrap._
@import models.EMessages
@import views.html.competition.contestFormFields

@main(EMessages.get("competition.create.title"), breadcrumbs){

    <div class="row">

    <div class="span2"></div>
    <div class="span8">

        <h3> @EMessages.get("competition.create.title") </h3>

        @form(controllers.competition.routes.CompetitionController.save()) {

            <fieldset>

                <legend> @EMessages.get("competition.create.step1") </legend>

                @if(contestForm.hasErrors() && showErrors) {
                    <div class="alert alert-error">
                        <p>@EMessages.get("forms.error")</p>
                    </div>
                }

                @contestFormFields(contestForm)

            </fieldset>

            <div class="actions">
                <input type="submit" value="@EMessages.get("forms.submit")" class="btn primary">
                <a href="@controllers.competition.routes.CompetitionController.index(0, "", "", "")" class="btn"> @EMessages.get("forms.cancel")</a>
            </div>
        }
    </div>

}