@*******************************************
* View contest page                        *
*                                          *
* author: Kevin Stobbelaar                 *
*******************************************@

@(breadcrumbs : List[models.data.Link], currentPage: Page[_ <: models.management.ManageableModel],
QSmanager: models.management.Manager[_], currentOrderBy: String, currentOrder: String, currentFilter: String,
modelForm: Form[_ <: models.management.ManageableModel], Cmanager: models.management.Manager[_])

@import models.EMessages
@import views.html.management.list
@import helper._
@import helper.twitterBootstrap._

@main(EMessages.get("competition.edit"), breadcrumbs) {

    <div class="row-fluid">

        <div class="span4">

            <div class="well">
                <h4> @EMessages.get("competition.view.edit") </h4>
            </div>

            <div>
                @form(Cmanager.getUpdateRoute()) {

                    @inputText(modelForm("name"), '_label -> EMessages.get("competition.create.name"), '_showConstraints -> false)

                    @select(
                        modelForm("type"),
                        options = options(models.competition.CompetitionType.values().toList.map(_.toString)),
                        '_label -> EMessages.get("competition.create.type"),
                        '_showConstraints -> false
                    )

                    @checkbox(modelForm("active"), '_label -> None, '_text -> EMessages.get("competition.create.active"), '_showConstraints -> false)

                    @inputDate(modelForm("starttime"), '_label -> EMessages.get("competition.create.start"), '_showConstraints -> false)

                    @inputDate(modelForm("endtime"), '_label -> EMessages.get("competition.create.end"), '_showConstraints -> false)

                    <div class="actions">
                        <input type="submit" value="@EMessages.get("forms.update")" class="btn btn-primary">
                    </div>
                }
            </div>

        </div>

        <div class="span8">
            <div class="well">
                <h4> @EMessages.get("competition.view.qs") </h4>
            </div>

            <div>
                @list(currentPage, QSmanager, currentOrderBy, currentOrder, currentFilter)
            </div>
        </div>

    </div>

}