@*******************************************
* View contest page                        *
*                                          *
* author: Kevin Stobbelaar                 *
*******************************************@

@(breadcrumbs : List[models.data.Link], currentPage: Page[_ <: models.management.ManageableModel],
QSmanager: models.management.Manager[_], currentOrderBy: String, currentOrder: String, currentFilter: String,
modelForm: Form[_ <: models.management.ManageableModel], Cmanager: models.management.Manager[_],
contest: models.competition.Competition)

@import models.EMessages
@import views.html.management.list
@import helper._
@import helper.twitterBootstrap._
@import views.html.commons.showflash


@main(EMessages.get("competition.edit"), breadcrumbs) {

    <div class="row-fluid">

        <div class="span6">
            <h4> @EMessages.get("competition.view.title"): @contest.getCompetitionModel().name </h4>
        </div>

        <div class="span4 offset2">
            <h4> @EMessages.get("competition.view.status"):</h4>
        </div>

    </div>

    <div class="row-fluid">

        <div class="span4">

            <div class="well">
                <h4> @EMessages.get("competition.view.edit") </h4>
            </div>

            <div>
                @if(flash.containsKey("competition-error")) {
                    <div class="alert alert-error">
                        <strong>Error!</strong> @flash.get("competition-error")
                    </div>
                }

                @form(Cmanager.getUpdateRoute()) {

                    @contestFormFields(modelForm)

                    <div class="actions">
                        <input type="submit" value="@EMessages.get("forms.update")" class="btn btn-primary">
                    </div>
                }
            </div>

        </div>

        <div class="span8">
            <div class="well">
                <h4> @EMessages.get("competition.view.qs") </h4>
            </div>

            <div>
                @list(currentPage, QSmanager, currentOrderBy, currentOrder, currentFilter)
            </div>

            <div class="hero-unit">
                <p> @EMessages.get("competition.info.grades") </p>
                <ul>
                    @for(grade <- contest.getAvailableGrades()){
                        <li>@grade.getName()</li>
                    }
                </ul>

            </div>

        </div>

    </div>

}